.header {
  background-color: $orange-1;
}
.header__top {
  @extend %clearfix;
  padding-top: 45px;
  color: $light-2;

}
.header__left {
  padding-left: 5%;
  text-align: center;
}
.header__right {
  float: right;
  margin-top: 45px;
  font-size: 35px;
  line-height: 40px;
  font-family: $opensans-regular;
  color: #fff;
  text-align: left;
}
