.logo {
  max-width: 470px;
  max-height: 164px;
  text-align: center;
}
.logo__desc {
  margin-left: 5px;
}
.logo__link,
.logo__caption {
  display: inline-block;
  vertical-align: middle;
}
// .logo__link {
//   width: 86px;
//   height: 186px;
// }
// .logo__caption {
//   margin-left: 3%;
// }
.logo__caption-name {
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.logo__caption-text {
  text-align: left;
  font-size: 19px;
  font-family: $opensansemi-bold;
  color: #fff;
  font-weight: 400;
}
.logo__desc {
  float: right;
  margin-top: 45px;
  font-size: 35px;
  line-height: 40px;
  font-family: $opensans-regular;
  color: #fff;
  text-align: left;
}
@media (max-width: 1480px) {
  // .logo {
  //   max-width: 56px;
  //   max-height: 120px;
  // }
  .logo__link {
    max-width: 56px;
    max-height: 120px;
  }
  .logo__caption-name {
    font-size: 32px;
  }
  .logo__caption-text {
    font-size: 16px;
  }
}
@media (max-width: 1005px) {
  .logo__caption-text {
    display: none;
  }
}
@media (max-width: 992px) {
  .logo__caption {
    display: none;
  }
}
@media (max-width: 768px) {

}
