.nav-dropdown {
  position: absolute;
  z-index: 20;
  top: 43px;
  display: none;
  width: 157px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
  font-size: 0;
  background-color: #fff;
  border-top: 2px solid $orange-2;
}
.nav-dropdown__item {
  font-size: 16px;
  text-align: center;
}
.nav-dropdown__link {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  text-decoration: none;
  font-family: $opensansemi-bold;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  &:hover {
    color: $orange-1;
    text-decoration: none;
  }
}
