/*Общие стили*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  // min-width: 1330px;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  font-family: $opensans-regular;
  font-weight: 400;
  color: $gray-1;
  background-color: $bg-1;
  -webkit-font-smoothing: antialiased; // сглаживание шрифтов на webkit
}
input {
  color: $gray-1;
  background-color: $bg-1;
  border: 1px solid $gray-2;
  font-size: 16px;
  line-height: 24px;
  font-family: $opensans-regular;
  border-radius: 5px;
  &::-webkit-input-placeholder {
    color: $gray-2;
  }
  &:-moz-placeholder {
    color: $gray-2;
  }
  &:-ms-input-placeholder {
    color: $gray-2;
  }
}
input:hover {
  color: $gray-1;
  border: 2px solid $gray-2;
}
input:focus {
  // border: 2px solid $blue-1;
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &:-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}
input:invalid {
  border-color: #f0b1b1;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  @include visually-hidden;
}
.visually-view {
  @include visually-view;
}
.padding-cont > [class*='col-'] {
  padding-left: 7px;
  padding-right: 7px;
}
.no-padding > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
.wrapper .no-visibility {
  visibility: hidden;
}
.wrapper .hidden {
  display: none;
}
.row--padding-down {
  padding-bottom: 15px;
}
@media (min-width: 1330px) {
  .wrapper .container {
    width: 1330px;
  }
}
