/*Переменные*/

/* переменные цветом и типографики*/

// $additional-color: #56C3B2;

/*Шрифты*/
$opensans-light: 'Open Sans', "Arial", sans-serif;
$opensans-regular: 'Open Sans', "Arial", sans-serif;
$opensanslight-italic: 'Open Sans', "Arial", sans-serif;
$opensansemi-bold: 'Open Sans', "Arial", sans-serif;



/*Цвета всех ссылок, прозрачный фон*/
$gray-1:#131313;
$gray-2:#666666;
$orange-1:#f7931e;
$orange-2:#f4bc74;


$light-1:#f2f2f2;
$light-2:#ffffff;
$light-3:#f7f7f7;

$bg-1: #fff;
$bg-2: #e6e6e6;
$bg-3: #cccccc;


/*размер шрифта*/
$font-size-base: 16px;
$lin-height-base: 24px/$font-size-base;

/*брейкпоинты*/
/*Mobile*/
$desktop-point-widths: "(min-width: 1200px)";
$laptop-point-widths: "(min-width: 868px)";
$tablet-point-widths: "(min-width: 520px)";
/*Dekstop*/
$desktop-point-widths: "(max-width: 960px)";
$laptop-point-widths: "(max-width: 768px)";
$tablet-point-widths: "(max-width: 480px)";

/*макс-ширина на устройствах*/
$desktop-max-widths: 1200px;
$laptop-max-widths: 992px;
$tablet-max-widths: 768px;
$phone-max-widths: 300px;

/*ширины контейнера*/
$desktop-inner-width: 940px;
$laptop-inner-widths: 728px;
$tablet-inner-widths: 480px;
$phone-inner-widths: 300px;

/*Ретина*/
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
